/*  palette.css (var does not work in PyQt6)
    DARK =      "#14212A"
    BLUE =      "#45adff"
    SURFGREEN = "#50e3c2"
    RED =       "#ff5436"
    VIOLET =    "#bb86fc"
    YELLOW =    "#f1c40f"
    GREEN =     "#a5c53c"
    WHITE =     "#ffffff"
*/


QWidget {
        background-color: #14212A;
        color: #ffffff;
        /* font-family: "Times New Roman", sans-serif; */
    }

.ch_frame {
    background-color: transparent;
    border: none;
}

.ch1_frame,
.ch2_frame,
.ch3_frame,
.ch4_frame {
    border: 2px solid;
    border-radius: 10px;
}

.ch1_frame {
    border-color: #f1c40f;
}

.ch2_frame {
    border-color: #82c9ff;
}

.ch3_frame {
    border-color: #ff5436;
}

.ch4_frame {
    border-color: #a5c53c;
}


QGroupBox {
    font-size: 16px;
    font-weight: bold;
    border: 1px solid #45adff;
    border-radius: 5px;
    margin: 3px;
}

QGroupBox::title {
    background-color: transparent;
    subcontrol-origin: margin;
    subcontrol-position: top left;
    padding: 10px 5px 3px 8px; /* top, right, bottom, left */
}

QGridLayout {
    background-color: none;
    margin: 0px;
}

QLabel {
    background-color: none;
    margin: 0px;
    font-size: 14px;
    font-weight: regular;
}

.meas_label_gen {
    color: #f1c40f;
    font-size: 16px;
    font-weight: bold;
}

.meas_label_sa, .meas_label_osc,
.s21_label {
    font-size: 16px;
    font-weight: bold;
}

.s21_label_file, .s21_label_nofile {
    color: #50e3c2;
    font-size: 14px;
    qproperty-alignment: 'AlignCenter'
}

.s21_label_nofile,
.det_level_label {
    color: #ff5436;
}

.meas_progress_label {
    color: #50e3c2;
    font-size: 16px;
}

.osc_imp_label {
    color: #90969b;
    font-size: 12px;
    font-weight: bold;
    qproperty-alignment: 'AlignCenter| AlignBottom';
}

.osc_label,
.osc_vert_label1,
.osc_vert_label2,
.osc_vert_label3,
.osc_vert_label4 {
    color: #90969b;
    font-size: 12px;
    font-weight: bold;
    qproperty-alignment: 'AlignBottom';
    
}

.osc_vert_label1 {
    color: #f1c40f;
}

.osc_vert_label2 {
    color: #82c9ff;
}

.osc_vert_label3 {
    color: #ff5436;
}

.osc_vert_label4 {
    color: #a5c53c;
}

.det_level_label {
    color: #f1c40f;
    font-size: 14px;
    font-weight: bold;
}


.settings_status_label {
    color: #50e3c2;
}

QLabel:disabled{
    color: #aeaeae;
}

QLineEdit{
    border: 1px solid #45adff;
    font-size: 12px;
}

QLineEdit:focus {
    border: 1px solid #bb86fc;
}

QLineEdit:disabled{
    border: 1px solid #90969b;
    color: #aeaeae;
}

.ip_line:disabled {
    border: none;
    color: #a5c53c;
}

.line_changed {
    border: 1px solid #50e3c2;
    font-weight: bold;
    color: #50e3c2;
}

.det_name_line {
    border: none;
    font-weight: bold;
    color: #f1c40f;
    qproperty-alignment: 'AlignCenter';
}

QTextBrowser{
    background-color: transparent;
    border: none;
    border-radius: none;
    margin: 0;
    font-size: 14px;
    font-weight: regular;
}

.status_bar {

}

QProgressBar {
    border: none;
    text-align: center;
    color: transparent;
}


QProgressBar::chunk {
    background-color: #f1c40f;
    width: 1px;
    margin: 6px 0px;
}

.instr_progress_bar {
    border: none;
    background-color: transparent;
}

.instr_progress_bar::chunk {
    background-color: #f1c40f;
    width: 1px;
    margin: 7px 0px;
}

QPushButton {
    border: 1px solid #45adff;
    margin: 0px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 5px;
}

QPushButton:hover {
    background-color: #bb86fc;
}

QPushButton:pressed {
    background-color: #50e3c2;
}

QPushButton:checked {
    background-color: #50e3c2;
    color: #14212A; 
}

QPushButton:disabled {
    background-color: rgba(84, 83, 83, 0.5);
    color: #aeaeae;
    border: 1px solid #90969b;
}

.btn_start, .btn_save_result {
    color: #f1c40f;
    font-size: 20px;
    font-weight: bold;
}

.btn_stop {
    color: #ff5436;
    font-size: 20px;
    font-weight: bold;
}

.btn_apply {
    font-size: 16px;
    font-weight: bold;
}

.btn_default {
    color: #50e3c2
}

.btn_ch1:checked {
    background-color: #f1c40f;
}

.btn_ch2:checked {
    background-color: #82c9ff;
}

.btn_ch3:checked {
    background-color: #ff5436;
}

.btn_ch4:checked {
    background-color: #a5c53c;
}

QCheckBox,
QRadioButton {
    font-size: 16px;
    color: #aeaeae;
    font-weight: regular;
}

QCheckBox:checked,
QRadioButton:checked {
    color: #45adff;
}

QCheckBox:hover,
QRadioButton:hover {
    color: #82c9ff;
}

QCheckBox::indicator,
QRadioButton::indicator {
    width: 14px;
    height: 14px;
    border: 1px solid #90969b;
    background: #2a2a2a;
    border-radius: 5px;
}
QCheckBox::indicator:checked,
QRadioButton::indicator:checked {
    background: #50e3c2;
    border: 1px solid #45adff;
}

QRadioButton::indicator{
    border-radius: 7px;
}

QCheckBox::indicator:checked:hover,
QRadioButton::indicator:checked:hover {
    border: 1px solid #bb86fc;
    background: #bb86fc;
}


QCheckBox::indicator:hover, 
QRadioButton::indicator:hover {
    border: 1px solid #bb86fc;
}

.radiocheck_changed, .radiocheck_changed:checked {
    /* border: 1px solid #50e3c2; */
    font-weight: bold; 
    color: #50e3c2;
}


.canvas {
    background-color: transparent;
    border: none;
}

QComboBox {
    font-size: 14px;
    border: 1px solid #45adff;
    border-radius: none;
    padding-left: 5px;
}